/* body style*/

body{
    padding: 0%;
    margin: 0%;
background-image: url(https://wallpaperaccess.com/full/1656029.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 100%;
}
/* navbar style*/

.navbar a {
  float: left;
  font-size: 16px;
  color: #ffc600;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color:#ffc600;
  padding: 18px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: green;
}

.dropdown-content {
  display: none;
  background-color: rgba(0, 0,0, 0.7);
  border-radius: 4px;
  position: absolute;
  color: #ffc600;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffc600;
  padding: 18px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: green;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*header style home content*/

h1{
    text-align: center;
    color: #ffc600;
    padding-right: 17%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    

}
.home{
    text-align: center;
    color: #ffc600;
    padding: 2%;
    margin: 2%;
    width: 100%;
}
h2{
    text-align: center;
    color: #ffc600;
    margin: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    width: 100%;
   
    
}

div .pa { 
    color: #ffc600;
    text-align: center;
    font-family: cursive;
    font-size: 1.4em;
    margin:0%;
    padding: 0%;
    background-color: rgba(0, 0,0, 0.7);
    border-radius: 3px;
    width: 100%;
    

}
/* raid style*/
.raid {
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.raid h2 {
    color: #ffc600;
    margin: 1%;
    padding: 1%;
    
}
.raid h4 {
    color: #ffc600;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.raid p {
    color: #ffc600;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.raid a{
    color: #ffc600;
    text-align: center;
    list-style: none;
    padding: 0%;
    margin: 5%;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.raid a:hover {
    color:green;

}
/* mainroster style*/


.columnleft{
  padding-left: 0px;

}
.columnright {
    
    padding-left: 0px;
}
.columnleft a{
    font-size: 2vw; 
    text-decoration: none;
    display: inline-block;
    padding-left: 0px;
}
.columnright a{ 
    font-size: 2vw;
    text-decoration: none;
    display: inline-block;
}
.columnleft span{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.columnright span{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row a:hover{
    color: green;
}
  
/*styke for mainroster */

#monk {

    color:#27db90;
    padding: 0.5%;   
}

#monk:hover{
    color: whitesmoke;
}
#dk{ 
    color: red;
    padding: 0.5%;
}
#dk:hover {
    color:green;
}
#paladin {

    color: rgb(221, 76, 216);
    padding: 0.5%;
    
}
#paladin:hover{
    color: rgb(159, 201, 240);
}

#shaman{
    color: blue;
    padding: 0.5%;
}
#shaman:hover {
    color: burlywood;
}
#priest {
    color: rgb(112, 212, 228);
    padding: 0.5%;
}
#priest:hover {
    color: rgb(243, 237, 237);
}
#hunter {
    color: rgba(14, 221, 48, 0.904);
    padding: 0.5%;
}
#hunter:hover {
    color: wheat;
}

#mage {
    color: #09dbf7;
    padding: 0.5%;
}
#mage:hover {
    color: firebrick;
}
#dh {
    color:#6c40d4;
    padding: 0.5%;
}
#dh:hover {
    color: greenyellow;
}

img{
    border-radius: 3px;
    width: 100%; 
}
.font {
    position: relative;
    display: inline-block;
    
}
/*media videos style*/

.onevideo{

    position: relative;
    margin-left: 5%;
}

.onevideo a{
    margin: 2%;
    display: inline-block;   
}
.onevideo img{
    height: 200px;
    width: 200px;
    width: 100%;
}
.secondvideo{
    margin-left: 5%;
}

.secondvideo a{
    display: inline-block;
    margin: 2%;
}
.secondvideo img{
    height: 200px;
    width: 200px;
    width: 100%;
}

.footer{
    background-color: rgba(0, 0, 0, 0.507);
    
}
.social{
    margin-top: 10px;
    font-size: 50px;
    color: #ffc600;
    text-align: center;
    
}
.copyright {
    color: #ffc600;
    text-align: center;
    margin-bottom: 0px;
    
    
}


@media only screen and (max-width: 768px){
   
    
     

}

@media only screen and (max-width: 1000px){


}