/* body style*/
body{
    
    margin: 0%;
    padding: 0%;
    background-image: url(https://cdn.wallpapersafari.com/0/53/hQLySz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
/* navbar style*/
.navbar {
  overflow: hidden;
  background-image: url(https://wallpaperaccess.com/full/1656029.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ffc600;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color:#ffc600;
  padding: 18px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #ffc600;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffc600;
  padding: 18px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: green;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*header style home content*/
h1{
    text-align: center;
    color: #ffc600;
    padding-right: 17%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
.home{
    text-align: center;
    color: #ffc600;
    padding: 2%;
    margin: 2%;
}
h2{
    text-align: center;
    color: #ffc600;
    margin: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    
}

div .pa { 
    color: #ffc600;
    text-align: center;
    font-family: cursive;
    font-size: 1.3em;
    margin:auto;
    

}
/* raid style*/
.raid {
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.raid h2 {
    color: #ffc600;
    margin: 2%;
    padding: 2%;
    
}

.raid a{
    color: #ffc600;
    text-align: center;
    list-style: none;
    padding: 0%;
    margin: 5%;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.raid a:hover {
    color:green;

}
/* main roster style*/

.row{
  width:70%;
  margin: 50px 0 50px; 
  padding: 0%;
  
}
.row a{

    text-decoration: none;
    
    
}

.columnleft{
  float:left;
  width: 100px;
  height: 5em;
  margin-left: 28%;
 
 
}
.columnleft li {
    list-style: none;
    margin: 5%;
    padding: 5%;
}


.columnright {
    float: right;
    width: 100px; 
    height: 5em;
    
    
}
.columnright li{
    list-style: none;
    margin: 5%;
    padding: 5%;
}
.columnleft a{
    font-size: 3em;
    font-family: cursive;
    margin: 10%;
    padding: 10%;
    
    
    
}
.columnright a{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffc600;
    margin: 10%;
    padding: 20%;
    
}
.row a:hover{

    color: green;
}



/* footer style*/
.footer {
    padding: 2px 2px;
    text-align: center;
    color: #ffc600;
    position:fixed;
    bottom: 0%;
    width: 100%;
    left: 0%;
}
/*background for main roster images*/

#monk {
    background-image: url(https://i.pinimg.com/originals/7f/b2/08/7fb208751cf460578d130e74d657d8f1.jpg);
    background-size: cover;
    background-repeat: inherit;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color:#27db90;
    
}
#monk:hover{
    color: whitesmoke;
}
#dk{
    background-image: url(https://i.pinimg.com/originals/09/b1/d5/09b1d54e3c1eb88dd88e43f27f3de259.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: red;
}
#dk:hover {
    color:green;
}
#paladin {
    background-image: url(https://i.pinimg.com/originals/38/f2/bb/38f2bb6d81c80c949d032c133cd4a147.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: rgb(221, 76, 216);
    
}
#paladin:hover{
    color: honeydew;
}

#shaman{
    background-image: url(https://i.pinimg.com/originals/7e/56/f8/7e56f8576ea8c0ee841928faf0b56b3f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: blue;
}
#shaman:hover {
    color: burlywood;
}
#priest {
    background-image: url(https://i.pinimg.com/originals/61/dc/af/61dcaf2fae14cfd3cc73911c78549a85.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: rgb(208, 234, 238);
}
#priest:hover {
    color: black;
}
#hunter {
    background-image: url(https://pbs.twimg.com/media/C-lXQ0bXgAAZ2H8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: rgba(12, 136, 68, 0.904);
}
#hunter:hover {
    color: brown;
}

#mage {
    background-image: url(https://overgear.com/guides/wp-content/uploads/guides-32.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: rgb(88, 226, 236);
}
#mage:hover {
    color: firebrick;
}
#dh {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/620/395/626/blood-elf-demon-demon-hunter-illidari-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 4%;
    padding: 4%;
    color: indigo;
    
}
#dh:hover {
    color: greenyellow;
}