/* body style*/
body{
    
    margin: 0%;
    padding: 0%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/498/577/155/world-of-warcraft-wow-horde-dark-hd-wallpaper-thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
/* navbar style*/
nav {
 list-style-type: none;
 margin: 0%;
 padding: 0%;
 overflow: hidden;
 background-color: #4e563e;
 position: fixed;
 top: 0%;
 width: 100%;
 background-image: url(https://wallpaperaccess.com/full/1656029.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}

li {
    list-style: none;
     float: left;
     margin: 1%;
    
 
}

li a {
    text-decoration: none;
    color: #ffc600;
    text-align: center;
    padding: 6px 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    
}

li a:hover{

    color: green;
    
}
/*header style*/
h1{
    text-align: center;
    color: #ffc600;
    padding-right: 27%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
.home{
    text-align: center;
    color: #ffc600;
    padding: 5%;
}
h2{
    text-align: center;
    color: #ffc600;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

div .pa { 
    color: #ffc600;
    text-align: center;
    font-family: cursive;
    font-size: 1.3em;
    margin:auto;
    

}
/* raid style*/
.raid {
    margin: 2%;
    padding: 2%;
    text-align: center;
}
.raid h2 {
    color: #ffc600;
    margin: 2%;
    padding: 2%;
    
}

.raid a{
    color: #ffc600;
    text-align: center;
    list-style: none;
    padding: 3%;
    margin: 3%;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.raid a:hover {
    color: green;
}
/* main roster style*/
.members {
    text-align: center;
    margin: 0%;
    padding: 0%;
}
.members a{ 

    text-decoration: none;
    color: #ffc600;
    column-count: 3;
    
}
    

/* footer style*/
.footer {
    background-image: url(https://wallpaperaccess.com/full/1656029.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px 2px;
    text-align: center;
    color: #ffc600;
    position:fixed;
    bottom: 0%;
    width: 100%;
    left: 0%;
}
